<footer class="footer-basic font-small  pt-3">
        <div class="text-center py-5 bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="display-5">We ♥ new friends</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <a href="https://www.facebook.com/" class="text-white" target="_blank">
                  <i class="fa fa-fw fa-facebook fa-2x mx-3"></i>
                </a>
                <a href="https://twitter.com/" class="text-white" target="_blank">
                  <i class="fa fa-fw fa-twitter fa-2x mx-3"></i>
                </a>
                <a href="https://plus.google.com/" class="text-white" target="_blank">
                  <i class="fa fa-fw fa-2x fa-google-plus mx-3"></i>
                </a>
                <a href="https://www.instagram.com/" class="text-white" target="_blank">
                  <i class="fa fa-fw fa-instagram fa-2x mx-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        </footer>
      