<nav class="navbar navbar bg-dark border-secondary navbar-expand-md  navbar-fixed-top" >
        <div class="container">
          <a class="navbar-brand text-secondary"  href="/"><strong>Valour</strong> <span class="sr-only">(current)</span></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link  text-white" href="/team"><strong>Team</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/contact"><strong>Contact Us</strong></a>
              </li>
            </ul> 
          </div>
        </div>
        
      </nav>
      