{% extends 'home.html' %}

{% block body %}
<br>
<br>
<br>
<!---->
<div class="py-5 text-center bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="pb-3 text-secondary">We are Valour!</h1>
            </div>
          </div>
        </div>
</div>

<div class="container">

<div class="row features text-center">
        <div class="col-sm-6 col-md-4 item"><i class="fa fa-android icon fa-4x"> </i>
            <h3 class="name">Managing Time&nbsp;</h3>
            <p class="description">Your "Frustration" is trying to tell something</p>
        </div>
        <div class="col-sm-6 col-md-4 item"><i class="fa fa-apple icon fa-4x"></i>
            <h3 class="name">Goal Oriented</h3>
            <p class="description">Do you know "Who you are ?" or Do you need people to tell who you are</p>
        </div>
        <div class="col-sm-6 col-md-4 item"><i class="fa fa-chrome icon fa-4x"> </i>
            <h3 class="name">Hard Work</h3>
            <p class="description">If it wasn't "hard" everyone would do it.."Hard" is what makes it great - Tom hanks</p>
        </div>
    </div>
    </div>
{% endblock  %}